<h2>Members List:</h2>

<table>
  <tr>
    <th>First Name</th>
    <td> | </td>
    <th>Last Name</th>
    <td> | </td>
    <th>Age</th>
    <td> | </td>
    <th>Address</th>
    <td> | </td>
    <th>E-Mail</th>
    <td> | </td>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.first_name %></a></td>
    <td> | </td>
    <td><a href="/members/<%= member.id %>"><%= member.last_name %></a></td>
    <td> | </td>
    <td><a href="/members/<%= member.id %>"><%= member.age %></a></td>
    <td> | </td>
    <td><a href="/members/<%= member.id %>"><%= member.address %></a></td>
    <td> | </td>
    <td><a href="/members/<%= member.id %>"><%= member.email %></a></td>
    <td> | </td>
    <td></td>
  </tr>
  <% end %>
</table>
