<h3>Lessons available:</h3>

<table>
  <tr>

    <th>Lesson Name</th>

    <th>Instructor</th>

    <th>Capacity</th>

  </tr>
  <% for lesson in @lessons %>
  <tr>

    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.title %></a></td>

    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.instructor %></a></td>

    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.capacity %></a></td>

    <td><a href="/lessons/<%= lesson.id %>/edit"><input class="btn btn--danger" type="submit" value="edit"></a></td>

    <td><form action="/lessons/<%= lesson.id %>/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form></td>

  </tr>
  <% end %>
</table>
